## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

'he said that " it was good" '

In [7]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [1]:
print("Hello")

Hello

In [9]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

In [18]:
# Assign s as a string
s = 'Hello World'

In [19]:
#Check
s

'Hello World'

In [20]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [21]:
# Show first element (in this case a letter)
s[0]

'H'

In [22]:
s[1]

'e'

In [23]:
s[2]

'l'

In [24]:
cake=[1,2,3,4,5,6,7,8]

my_cake=tuple(cake)

the_cake=list(my_cake)

the_cake[1:6:2]

[2, 4, 6]

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [25]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[:]

'Hello World'

In [26]:
# Note that there is no change to the original s
s

'Hello World'

In [27]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [28]:
#Everything
s[:-1]

'Hello Worl'

We can also use negative indexing to go backwards.

In [29]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [30]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [22]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [23]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [24]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [31]:
s

'Hello World'

In [32]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [38]:
s='hello'
a=2

In [39]:
s*a

'hellohello'

In [19]:
# Concatenate strings!
s + ' concatenate me!'

'hello concatenate me!'

In [20]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [21]:
print(s)

hello concatenate me!

In [22]:
s

'hello concatenate me!'

We can use the multiplication symbol to create repetition!

In [23]:
letter = 'z'

In [24]:
letter*10

'zzzzzzzzzz'

In [25]:
s

'hello concatenate me!'

In [26]:
# Upper Case a string
s.upper()

'HELLO CONCATENATE ME!'

In [27]:
# Lower case
s.lower()

'hello concatenate me!'

In [43]:
# Split a string by blank space (this is the default)
s='this movie is awesome'
print(s)
s.split('movie')

this movie is awesome

['this ', ' is awesome']

In [38]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [44]:
'Insert another string with curly brackets: {} {}'.format('The inserted string','this is)

IndexError: tuple index out of range

In [47]:
st=r'hello\tworld'

In [48]:
print(st)

hello\tworld

In [39]:
st

'hello\\tworld'